@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

header {
  position: relative;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header .logo {
  font-weight: 600;
  font-style: 20px;
}

header ul.nav {
  list-style: none;
  float: right;
  display: flex;
}
header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}
header ul.nav li:hover {
  opacity: 50%;
}

header .shop-cart__button {
  cursor: pointer;
  transition:
    color,
    transform 0.5s ease;
  margin-left: 25px;
}
header .shop-cart__button:hover,
header .shop-cart__button.active {
  color: #dc3d3d;
  transform: scale(1.3);
}

header .shop-cart {
  position: absolute;
  top: 50px;
  width: 400px;
  background-color: #e7e7e7;
  -webkit-box-shadow: 0px 4px 19px 0px rgba(8, 11, 13, 0.58);
  -moz-box-shadow: 0px 4px 19px 0px rgba(8, 11, 13, 0.58);
  box-shadow: 0px 4px 19px 0px rgba(8, 11, 13, 0.58);
  z-index: 100;
  padding: 10px;
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
header .shop-cart .item img {
  width: 100px;
  height: 75px;
  float: left;
  margin-right: 20px;
}
header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
header .shop-cart .item p {
  color: #000000;
  font-size: 1.3rem;
}
header .shop-cart .item b {
  color: #696969;
  font-size: 1.3rem;
  font-weight: 600;
}

header .delete-icon {
  float: right;
  cursor: pointer;
  color: #ca5252;
  transition: transform 0.3s ease-in;
}
header .delete-icon:hover {
  color: #d33232;
  transform: scale(1.5);
}

header .price-sum {
  color: #222;
  font-weight: 600;
}

header .presentation {
  margin: 50px auto;
  background: url(./assets/img/presentation-image.jpg);
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgb(172, 195, 202);
  position: relative;
}

header .presentation::after {
  content: "Лучшие двигатели в КЗ";
  position: absolute;
  top: 150px;
  left: 100px;
  width: 300px;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

header .presentation::before {
  content: "По низким ценам";
  position: absolute;
  top: 300px;
  left: 100px;
  width: 300px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.categories {
  margin-bottom: 30px;
}

.categories div {
  display: inline;
  background: #f2f2f2;
  border-radius: 50px;
  padding: 10px 10px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  font-weight: 400;
}

.categories div:hover {
  border-color: silver;
  transform: scale(1.1);
}

.full-item {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000000cb;
  z-index: 9999;
  overflow: auto;
}

.full-item > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 10px;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  width: 30%;
  margin-bottom: 50px;
  background: #f5f5f5;
  /* cursor: pointer; */
  position: relative;
  padding-bottom: 20px;
}

main .item img,
.full-item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 300px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}
main .item img:hover,
.full-item img:hover {
  transform: scale(1.01);
}

main h2,
.full-item h2,
main p,
.full-item p main b .full-item b {
  margin: 10px 10px;
  color: #333;
}

main b,
.full-item b {
  color: #5fa36a;
}

main .add-to-card,
.full-item .add-to-card {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.5s ease;
}
main .add-to-card:hover,
.full-item .add-to-card:hover {
  transform: scale(1.2) translateY(-5px);
}

footer {
  text-align: center;
  margin-top: 100px;
}
